.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.wrapper * {
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin: 63px 0 38px 0;
}

.logo-text,.colorful {
    font-size: 80px;
    text-decoration: none;
    font-weight: 400;
}

.logo-text {
    color: black;
}

.colorful {
    color: aqua;
}

.nav {
    background-color: #35444F;
}

.nav-li {
    display: flex;
    justify-content: center;
}

.nav-names {
    padding: 0 32px;
    display: block;
    color: white;
    border-left:  1px solid white;
    font-size: 24px;
    height: 69px;
    line-height: 69px;
    text-decoration: none;
}

.nav-names:hover {
    background-color: #222F3A;
    transition: 0.2s;
}

.main {
 display: flex;
 justify-content:space-between;
 align-items: flex-start;
 margin-top: 48px;
}

.vertical-nav {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
   
}

.vertical-nav-names {
    padding: 27px 82px 27px 44px;
    display: block;
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}

.vertical-nav-names:hover {
    text-align: center;
    background-color: #DBDBDB;
    color: #000;
    transition: 0.3s;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    height: 529px;
    width: 885px;
    margin-bottom: 37px;
}

.image-hover-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.img {
    width: 320px;
    height: 381px;
}

.image-hover-box:hover {
    transition: 0.2s;
    transform: scale(1.3);
}

.text-container {
    width: 885px;
}

.text {
    padding-bottom: 34px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    padding: 0 40px;
}

.nav-footer-li {
    display: flex;
    justify-content: flex-start;
    line-height: 69px;
    height: 69px;
    align-items: center;
}

.nav-footer-names {
    line-height: 50px;
    padding-right: 10px;
    margin-right: 20px;
    display: block;
    color: #000;
    font-size: 26px;
    text-decoration: none;
}

.nav-footer-names:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.copyright {
    font-size: 24px;
}




